.register{
	height: 30px;
	width: 120px;
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 52px;
}
.register button{
	line-height: 30px;
	width: 50px;
	text-align: center;
	color: $registe_font_gray ;
	background: $registe_back_gray;
	border: 0;
	margin: 0px -2px;
}
.register button:hover{
	color: $white;
	background: $deep_orange ;
}
.top{
	position: fixed;
	bottom:20px;
	right: 70px;
	height:56px;
	width: 56px;
	background: $span_back_gray;
	img{
		vertical-align: middle;
		text-align: center;
	}
}